<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ks_c_5601-1987">
<title></title>
<style type="text/css">
  A {text-decoration: none; color:navy } 
  A:hover {text-decoration: underline; color:orange} 
  td {font-family:돋움;font-size:12 }
  input,Textarea {
    font-family:돋움; 
    border: 1 solid white; 
    border-bottom: 1 solid silver
  }
</style>
</head>
<body>
<% content %>
<div id="footer">
Powered by Solcot
</div>
</body>
</html>
